* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background: #D6E6F2;
    color: #2D2D2D;
    line-height: 1.5;
}

header {
    background: #2C2C54;
    padding: 1.5rem;
    text-align: center;
}

header h1 {
    color: #fff;
    font-weight: 600;
}

#enlaces {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1.5rem 0;
}

#enlaces a {
    text-decoration: none;
    background: #4A69BD;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    font-size: 0.95rem;
}

#enlaces li {
    list-style: none;
}

#enlaces a:hover {
    background: #1E3799;
}

#total {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

#tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}

#tarjetas>div {
    width: 280px;
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem 1.2rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform .2s ease, box-shadow .2s ease;
    scroll-snap-align: start;
}

#tarjetas>div:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.22);
    background-color: rgba(74, 105, 189, 0.12);
}

#tarjetas img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    margin-bottom: 0.8rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
    transition: transform .35s ease, box-shadow .35s ease;
}

#tarjetas img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}

#marca {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2C2C54;
    margin-bottom: 0.4rem;
}

#info {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.6rem;
}

#precio {
    font-size: 1rem;
    font-weight: bold;
    color: #4A69BD;
    margin-bottom: 0.4rem;
}

#descuento,
#unidades,
#fabricante,
#categoria {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
}

/* FOOTER */
#footer {
    background: #2C2C54;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
}


/* MENU DESPLEGABLE */
/* Oculto por defecto */
.oculto {
    display: none;
}

#menu-categorias {
    margin-top: 5px;
    position: absolute;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    background: #4A69BD;
    border-radius: 6px;
}



#menu-categorias a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}