* {
    box-sizing: border-box;
    margin: 0.5%;
    padding:0.5%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 90%;
}

th {
    background-color: lightblue;
}

tr:nth-child(odd) {
   background-color: lightgray; 
}

