:root {
    --primary-color: #3498db;
}

* {
    margin: 0.5%;
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

/* Ventana Secundaria */
input:not([type="radio"]), .btn-primary, select, label {
    width: 50%;
    height: 2.5rem;
    margin: 2%;
    border-radius: 10px;
    text-align: center;
    font-size:medium;
}

/* input [type="radio"] {
    width: 20%;
} */